body {
  background-color: #FFFDF0;
  font-family: "Roboto-Regular", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.world-clock-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 85vw;
  min-width: 85vw;
  max-width: 85vw;
  height: fit-content;
  box-sizing: border-box;
  /* background-color: #cdcaba36; */
  margin-left: auto;
  margin-right: auto;
}



/* Calender--------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.calendar-project{
  margin: 0;
  padding: 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  display: flex;
  align-items: self-start;
  padding: 0 1em;
  justify-content: center;
}

.wrapper{
  margin-top: 3em;
  width: 100%;
  /* background: #fff; */
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

.wrapper header{
  display: flex;
  align-items: center;
  padding: 2.5vw 5.5vw 0 5.5vw;
  justify-content: space-between;
}

header .icons{
  display: flex;
}

header .icons span{
  height: 6vw;
  width: 6vw;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  font-size: 6.25vw;
  user-select: none;
  border-radius: 50%;
}

.icons span:last-child{
  margin-right: -0.1em;
}

header .icons span:hover{
  background: #f2f2f2;
}

header .current-date{
  font-size: 4.5vw;
  font-weight: 500;
  color: #121411;
}

.calendar{
  padding: 0 2.5vw 2.5vw 2.5vw;
}

.calendar ul{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar .days{
  margin-bottom: 20px;
}

.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 3vw;
}

.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}

.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 1.75em;
}

.days li.inactive{
  color: #aaa;
}

.days li.active{
  color: #fff;
}

.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 7vw;
  width: 7vw;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before{
  background: #66785F;
}

.days li:not(.active):hover::before{
  background: #f2f2f2;
}

.days li.weekend {
  color: red;
}


/* To Do--------------------------------------------------------------------------------------------------------------------------------------------------------- */
.to-do {
  width: 100%;
  aspect-ratio: 317 / 80;
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: flex-start;
  font-size: 4vw;
}

.todo-title {
  text-align: left;
  margin: 0 0 0.5em 0;
  color: #000000;
  font-weight: 599;
  font-family: "Roboto-Bold", Helvetica;
  line-height: normal;
  font-size: 1em;
}

.todo-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.4em;
}

.todo-item {
  background-color: #D9DFC6;
  color: #4B5945;
  padding: 0.6em 1em;
  font-weight: 500;
  text-align: left;
  width: 100%;
  font-size: 0.7em;
  box-sizing: border-box;
  border-radius: 6px;
  overflow: hidden;
}



/* Schedule--------------------------------------------------------------------------------------------------------------------------------------------------------- */
.schedule {
  width: 100%;
  aspect-ratio: 317 / 80;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: flex-start;
  font-size: 4vw;
}

.schedule-title {
  text-align: left;
  margin: 0 0 0.5em 0;
  color: #000000;
  font-weight: 599;
  font-family: "Roboto-Bold", Helvetica;
  line-height: normal;
  font-size: 1em;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.4em;
}

.schedule-item {
  background-color: #D9DFC6;
  color: #ffffff;
  border-radius: 0 18px 18px 0;
  display: flex;
  align-items: center;
  height: 3em;
  font-size: 0.8em;
  color: #000;
}

.schedule-accent {
  display: flex;
  width: 5%;
  background-color: #B2C9AD;
  height: 100%;
  left: 0;
  top: 0;
}

.schedule-category {
  margin-left: 0.5em;
  color: #ffffff;
  font-weight: bold;
  padding: 0 0.1em;
}

.schedule-line {
  width: 0.1em;
  height: 60%;
  background-color: #ffffff;
  margin: 0 0.5em;
}

.schedule-time {
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 1em;
  font-size: 0.9em;
}

.schedule-description {
  width: 100%;
  text-align: right;
  margin-right: 1em;
  color: #ffffff;
  font-weight: 500;
  white-space: nowrap;
}



/* Nav Bar--------------------------------------------------------------------------------------------------------------------------------------------------------- */
button {
  all: unset;
}

.navigation-bar {
  margin-top: 10vw;
  display: flex;
  background-color: #f0f0f0;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
}

.nav-btn {
  display: flex;
  align-items: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #858585;
  font-size: 3.8vw;
  font-weight: 300;
  padding: 0.8em 0.5em;
}

.nav-active {
  background-color: #fff;
  color: #000;
  border-radius: 25px;
  box-shadow:
    0px 4px 9px 0px rgba(0, 0, 0, 0.25),
    inset 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 35%;
  margin: 0 0 0.15em 0;
  font-weight: 500;
}



/* Konten--------------------------------------------------------------------------------------------------------------------------------------------------------- */
.content-area{
  width: 100%;
  height: 100%;
}

.page-content {
  display: none;
}

.page-content.active {
  display: block;
}


/* Konten 1 */
/* Flip Card */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  position: relative;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  transform: rotateY(180deg);
}

/* Jam--------------------------------------------------------------------------------------------------------------------------------------------------------- */
.jam, .jam2 {
  padding: 0;
  box-sizing: border-box;
  font-family:"Roboto", Helvetica;
  color: #000000;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  aspect-ratio: 1 / 1;
  min-width: 100%;
  font-size: 2.2vw;
}

.container {
  position: relative;
  width: 80%;
  height: 80%;
  margin: 0 0 -16vw -0.2vw;
}

.clock {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #F0F5F8;
  border: 0.1px solid rgb(225, 225, 225);
  box-shadow:  0px 4px 6px rgba(0, 0, 0, 0.1),
    10px 10px 15px rgba(0, 0, 0, 0.2),
    20px 20px 30px rgba(0, 0, 0, 0.15),
    0px -4px 6px rgba(255, 255, 255, 0.488),
    -10px -10px 15px rgba(255, 255, 255, 0.496),
    -20px -20px 30px rgba(255, 255, 255, 0.481);
  display: flex;
  justify-content: center;
  align-items: center;
}

.jam2 .clock {
  color: #ffffff;
  background-color: #242424;
}

.clock span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 12px;
  text-align: center;
}

.clock span b{
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
  font-size: 2em;
  font-weight: 590;
}

.clock::before {
  content: '';
  position: absolute;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  background-color: #000000;
  z-index: 2;
}

.jam2 .clock::before {
  background-color: #ffffff;
}

.hand {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hand i {
  position: absolute;
  background-color: var(--clr);
  width: var(--w);
  height: var(--h);
  border-radius: 8px;
}

/* Isi Konten Jam*/
.konten-jam1 {
  position: absolute;
  width: 80%;
  aspect-ratio: 1;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 0 -16.5vw 0;
  border-radius: 50%;
  background: conic-gradient(
    rgba(0, 60, 255, 0.305) 0deg 60deg,
    transparent 60deg 360deg
  );
  transform: rotate(0deg);
  z-index: 1;
  overflow: hidden;
}

.konten-jam2 {
  position: absolute;
  width: 80%;
  aspect-ratio: 1;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 0 -16.5vw 0;
  border-radius: 50%;
  background: conic-gradient(
    rgba(255, 0, 38, 0.305) 0deg 90deg,
    transparent 90deg 360deg
  );
  transform: rotate(60deg);
  z-index: 1;
  overflow: hidden;
}


/* Konten Jam */
.konten-jam1 span {
  position: absolute;
  transform: rotate(30deg);
  inset: 20px;
  text-align: center;
  overflow: hidden;
}

.konten-jam1 span b{
  transform: rotate(-30deg);
  display: inline-block;
  font-size: 3.5vw;
  margin-top: 8vw;
  color: #00000056;
  overflow: hidden;
}

.konten-jam2 span {
  position: absolute;
  transform: rotate(45deg);
  inset: 20px;
  text-align: center;
  overflow: hidden;
}

.konten-jam2 span b{
  transform: rotate(-105deg);
  display: inline-block;
  font-size: 3.5vw;
  margin-top: 8vw;
  color: #00000056;
  overflow: hidden;
}



/* Plus Icon--------------------------------------------------------------------------------------------------------------------------------------------------------- */
.plus-icon {
  font-size: 50px;
  width: 10vw;
  height: 10vw;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  transform: translate(50%, -50%);
  color: #535353;
  background-color: #f0f5f8;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1),
    10px 10px 15px rgba(0, 0, 0, 0.2),
    20px 20px 30px rgba(0, 0, 0, 0.15),
    0px -4px 6px rgba(255, 255, 255, 0.488),
    -10px -10px 15px rgba(255, 255, 255, 0.496),
    -20px -20px 30px rgba(255, 255, 255, 0.481);
  font-weight: 200;
  font-size: 10vw;
  padding: 0.7vw 0.7vw 1.3vw 0.7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 67.5vw;
}

.plus-icon:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
}

.plus-icon:active {
  opacity: 0.8;
}



/* Form Conten */
.content-form {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3 ease-in-out;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content-form.open {
  opacity: 1;
  z-index: 999;
}

.form-inner {
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding: 7vw 7vw 10vw 7vw;
  width: 70vw;
}

.form-inner {
  line-height: 24px;
  margin: 10px 0;
}

.header-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vw;
  border-bottom: 1px solid #ccc;
}

.label-title {
  margin-bottom: 0;
  font-size: 4vw;
}

.title-form-input, .date-form-input {
  width: 95%;
  height: 7.5vw;
  border-radius: 5px;
  padding: 0 3vw;
  font-size: 3.5vw;
}

.time-form {
  display: flex;
  font-size: 4.5vw;
}

.time-form-input {
  width: 90%;
  height: 7.5vw;
  border-radius: 5px;
  padding: 0 2vw;
  font-size: 3.5vw;
}

.form-inner h3 {
  font-size: 3.5vw;
  font-weight: 599;
}

.time_start-input {
  width: 40%;
  margin-left: 0;
  margin-right: auto;
  display: block;
}

.time_end-input {
  width: 40%;
  margin-left: auto;
  margin-right: 0;
  display: block;
}

.button-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  border: 2px solid #333;
}

.color-picker {
  width: 5.5vw;
  height: 5.5vw;
  border-radius: 50%;
  background-color: #66785F;
  display: inline-block;
  cursor: pointer;
}

.button-form {
  width: fit-content;
  display: flex;
  margin-left: auto;
  margin-right: 0;
  justify-content: space-between;
  font-size: 3vw;
}

.cancel-form {
  width: 100%;
  margin-right: 3vw;
  padding: 0 3vw;
  color: #66785F;
  background-color: #ffffff;
  border: 0.4vw solid #66785F;
  border-radius: 4px;
}

.save-form {
  width: 100%;
  padding: 0 3vw;
  color: #ffffff;
  background-color: #66785F;
  border: 0.4vw solid #000000;
  border-radius: 4px;
}
  
/* Text--------------------------------------------------------------------------------------------------------------------------------------------------------- */
.text-con {
  margin: 24vw 0 14vw 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-family:"Roboto", Helvetica;
  gap: 0.9em;
}

.city-date {
  font-size: 4vw;
  font-weight: 359;
  color: #00000042;
  margin-bottom: 0.1em;
}

.full-date {
  font-size: 6vw;
  font-weight:normal;
  color: #000000;
  margin-top: 0;
}


/* Konten 2 */
.coba-coba1 {
  width: 100%;
  height: 150vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  margin-top: 50vw;
  font-size: 12vw;
  color: #474747;
  font-weight: 250;
}

/* Konten 3 */
.coba-coba2 {
  width: 100%;
  height: 150vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  margin-top: 50vw;
  font-size: 12vw;
  color: #474747;
  font-weight: 250;
}